<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Регистрация</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" type="text/css" href="/css/reg.css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
{% include 'navbar.html.twig' %}
<div class="container">
    <h1>Регистрация</h1>
    {% include 'usermessage.html.twig' %}
    {% include 'form.html.twig' %}
</div>

</body>

