<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Добавить задачу</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font.css">
    <link href="css/newtask.css" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
{% include 'navbar.html.twig' %}
<div class="container ">
    <h1>Добавить задачу</h1>
    {% include 'usermessage.html.twig' %}
    {% include 'form.html.twig' %}
</div>

</body>


